{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if  form.errors %}
        <div class="alert alert-danger" role="alert">
            This is a danger alert-check it out!
        </div>
    
    {% endif %}
    <h1>Resgistro de Usuarios</h1>

    <form action="{% url 'guardarAlumno' %}" method="POST">
    {% csrf_token %}
    {% if mesaje %}
        <div class="alert alert-success" role="alert">
            Alumno registrado exitosamente!
        </div>
    {% endif %}
    {{ form|crispy}}

    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}